@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@300;400&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
    overflow-x: hidden !important;
}

header {
    background-color: transparent;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

header.header-scroll {
    position: fixed;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.3s ease-in-out;
}

.card {
    background-color: transparent;
}

.header-logo img {
    display: flex;
    align-items: center;
    vertical-align: middle;
    max-height: 50px;
}

.header-placeholder {
    height: 60px;
}

nav {
    text-align: center;
    flex-grow: 1; /* Allow the nav to take up available space and center links */
}

nav a {
    margin: 0 45px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.linear-shape {
    position: relative;
    width: 100%;
}

@keyframes ZKrRi- {
    0% {
        transform: rotate(0) translateZ(100px);
    }

    20% {
        transform: rotate(72deg) translateZ(100px);
    }

    40% {
        transform: rotate(144deg) translateZ(100px);
    }

    60% {
        transform: rotate(216deg) translateZ(100px);
    }

    to {
        transform: rotate(359.95deg) translateZ(100px);
    }
}

._4jKGSa .SWiJzX {
    animation: ZKrRi- ease-in-out infinite;
    position: absolute;
    transform: rotate(0) translateZ(100px);

    /* Make it do not effect on any srcoll */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}

._4jKGSa .-cUJrF {
    animation-duration: 90s;
    left: 50%;
    top: 0;
    transform-origin: 0 440px;
}

._4jKGSa .MQH7Px {
    animation-duration: 95s;
    transform-origin: -190px 520px;
}

._4jKGSa ._2JTEU2 {
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

._4jKGSa .nkQSL5 {
    background-image: url(../images/linear-shape-1.svg);
    background-size: 1154px 775px;
    height: 775px;
    left: 410px;
    top: 160px;
    transform: translateX(-50%) scale(1.3);
    width: 1154px;
    z-index: -1; /* Set a lower z-index value */
}

._4jKGSa .rK-SRb {
    background-image: url(../images/linear-shape-2.svg);
    background-size: 775px 1154px;
    height: 1154px;
    left: -0;
    top: -520px;
    transform: translateX(-50%) scale(1.5);
    width: 775px;
    z-index: -1; /* Set a lower z-index value */
}

.lJh45t.\+RppSt {
    overflow: visible;
}

.lJh45t.PUhFg\+ {
    position: static;
}

.category a {
    text-decoration: none;
}

.category-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 189px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 14px;
    color: black !important;
    background: #f8f8f8;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.category-card:hover {
    background: #3b5998;
    color: white !important;
    transition: all 0.3s ease-in-out;
}

.our-message-text {
    color: #3b5998;
    font-weight: bold;
    border-top: 3px solid #3b5998;
    border-radius: 3px;
    padding-top: 20px;
    width: fit-content;
}

.our-message {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
}

.why-us-icon {
    width: 68px;
    height: 68px;
    border-radius: 11px;
    background-color: #263d6c;
}

.point-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
}

#contact-us-form label {
    font-family: Cairo;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
}

#contact-us-form input {
    height: 64px;
    border-radius: 8px;
    border: 0;
    background: #f5f5f5;
}

#contact-us-form textarea {
    border-radius: 8px;
    border: 0;
    background: #f5f5f5;
}

.calender-button {
    border-radius: 16px !important;
    border: 2px !important;
    border: 2px solid #3b5998 !important;
    margin-right: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit !important;
    width: 67px;
}

.scrollable-pills {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 20px;
}

.scrollable-pills::-webkit-scrollbar {
    display: none;
}

.scrollable-pills a {
    text-decoration: none;
    color: unset;
}

.source-badge {
    width: 100px;
    height: 40px;
    padding: 10px, 16px, 10px, 16px;
    border-radius: 62px;
    border: 1px;
    gap: 10px;
    border: 1px solid #d7d7d7;
    padding: 10px 16px 10px 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 7px;
    display: inline-table;
    transition: all 0.3s ease-in-out;
}

.source-badge.active,
.source-badge:hover {
    background-color: #3b5998;
    color: white !important;
    border: 1px solid #3b5998;
    transition: all 0.3s ease-in-out;
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    overflow: hidden;
    min-height: 64px;
    top: 584px;
    border: 1px;
    border: 1px solid #d7d7d7;
    background: transparent;
}

.accordion-item input {
    display: none;
}

.accordion-label {
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    text-align: right;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0 !important;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-item input:checked + .accordion-label + .accordion-content {
    max-height: 900px;
    transition: max-height 0.3s ease-out;
}

.report-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.only-mobile {
    display: none !important;
}

@media (max-width: 768px) {
    .source-column,
    .date-column,
    .options-column,
    .titles {
        display: none !important;
    }

    .only-mobile {
        display: unset !important;
    }
}

.datepicker table > :not(caption) > * > *,
.table > :not(caption) > * > * {
    padding: 0.85rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
